.accordion--trigger::before {
    content: '\f0fe';
}
.accordion--trigger.is-active::before {
    content: '\f2d3';
}
.profile--section ul li::marker,
.ucp--description ul li::marker,
.post--content .postcolor ul li::marker,
.webpage--content-inner ul li::marker,
.species--overview .scroll ul li::marker {
    content: '\e3d6';
}
.alert-section .input-wrap .fancy-input::before,
.webpage--filter-group label::before,
.members--filter-group label::before,
.members--sort-buttons button::before {
    content: '\f00c';
}
a[target="_blank"]:not(.staffOnly)::after,
a.external::after {
    content: '\f08e';
}
.alert--main .recent-alerts-msg:not(.reg-alert) > a:first-of-type::before {
    content: 'Written by \00a0';
}

//redirect images
//Guidebook
.f-3 {
    --bg-redirect-image: url(https://files.jcink.net/uploads2/godlybehaviour/GB24/forum_guidebook_min.jpg);
}
//Getting Started
.f-35 {
    --bg-redirect-image: url(https://files.jcink.net/uploads2/godlybehaviour/GB24/forum_start_min.jpg);
}