<header class="header">
    <div class="header--main">
        <a href="@@prefix/public/index.html"><h1>Godly Behaviour</h1></a>
        <p>once you play god, they're gonna crumble one by one</p>
    </div>
    <div class="header--info">
        <div class="header--left">
            <b>Welcome to Godly Behaviour</b>
            <p>We are a supernatural, small town roleplay set in the imaginary coastal town of Temperance, Cape Breton. We feature open species lore and restrict our member base to 18+.</p>
        </div>
        <div class="header--right" style="grid-template-columns: repeat(4, 1fr);">
            <a href="@@prefix/public/profile-member.html" title="Lux"><img src="https://dawneggleton.github.io/dist/images/thumb/wildlife/2019/2019-vienna7.jpg" loading="lazy" /></a>
            <a href="@@prefix/public/profile-member.html" title="Spyder"><img src="https://files.jcink.net/uploads2/godlybehaviour/spyoocwide.png" loading="lazy" /></a>
            <a href="@@prefix/public/profile-member.html" title="Dashin"><img src="https://i.postimg.cc/HsMqwFjP/dash-header.png" loading="lazy" /></a>
            <a href="@@prefix/public/profile-member.html" title="Hermes"><img src="https://i.postimg.cc/wjc62x7H/hermes-gb-staffimg.png" loading="lazy" /></a>
        </div>
        <div class="header--bottom">
            <a href="@@prefix/public/post.html">Read our Latest Announcement</a>
            <a href="@@prefix/public/topiclist.html">Visit our Active Event</a>
        </div>
    </div>
</header>