@import '../global/mixins.scss';

/*******************************
    Header
********************************/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    margin: var(--space-xl) 0 calc(2 * var(--space-xl));

    body#idx & {
        min-height: calc(100vh - (var(--size-menu) * 2));
    }

    &--main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 1px solid var(--border-accent-transparent);
        border-bottom: 1px solid var(--border-accent-transparent);
        padding: var(--space-lg) var(--space-lg) var(--space-xl);
        margin: var(--space-xl) auto;
        max-width: 800px;
        width: 100%;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: calc(50% - 0.5px);
            display: block;
            width: 1px;
            height: var(--space-xl);
            background: var(--border-accent-transparent);
        }

        &::before {
            top: calc(-1 * var(--space-xl));
        }

        &::after {
            bottom: calc(-1 * var(--space-xl));

            @include mq-down(md) {
                body#idx & {
                    display: none;
                }
            }
        }

        & > a {
            font-family: var(--font-serif);
            text-align: center;
        }
    
        h1 {
            color: var(--text-secondary);
            font-family: var(--font-serif);
            text-align: center;
            margin: 0;
            @include fluid-type(40, 80, 480, 1440);
            line-height: 110%;
        }
    
        & > p {
            margin: var(--space-sm) 0 0 ;
            padding: 0 var(--space-md);
            line-height: 160%;
            text-transform: uppercase;
            letter-spacing: 0.5em;
            font-size: var(--size-xs);
            text-align: center;
            color: var(--text-accent-transparent);
            font-weight: 700;
        }
    }
    &--info {
        width: 100%;
        max-width: 800px;
        margin: calc(var(--size-md) * -1) auto 0;
        display: none;
        gap: var(--space-lg) calc(var(--space-lg) * 2);
        padding: 0 var(--space-lg);

        @include mq-up(md) {
            grid-template-columns: 1fr 1fr;
        }

        body#idx & {
            display: grid;
        }
    }
    &--left {
        @include mq-down(md) {
            max-width: 400px;
            margin: 0 auto;
        }

        b {
            font-style: normal;
            font-family: var(--font-serif);
            font-size: 20px;
            color: var(--text-secondary);
        }
        p {
            text-align: justify;
            font-style: italic;
            font-size: var(--size-md);
            line-height: 160%;
            margin: 0;
        }
    }
    &--right {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);

        @include mq-down(md) {
            max-width: max-content;
            margin: calc(var(--space-lg) / -2) auto var(--space-sm);
        }

        a {
            border-radius: 2px;
            overflow: hidden;
            aspect-ratio: 1 / 1;
            max-width: 100px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: var(--default-filter) grayscale(1);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--bg-accent-transparent);
                z-index: 1;
                opacity: 0;
                transition-duration: 0.3s;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }
    &--bottom {
        grid-column: 1 / -1;
        display: grid;
        gap: var(--space-md);
        border-top: 1px solid var(--border-accent-transparent);
        border-bottom: 1px solid var(--border-accent-transparent);
        padding: var(--space-md);
        margin: 0 calc(-1 * var(--space-lg)) var(--space-xl);

        @include mq-up(sm) {
            padding: var(--space-lg);
            grid-template-columns: repeat(2, 1fr);
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: calc(50% - 0.5px);
            display: block;
            width: 1px;
            height: var(--space-xl);
            background: var(--border-accent-transparent);
        }

        &::before {
            top: calc(-1 * var(--space-xl));

            @include mq-down(md) {
                display: none;
            }
        }

        &::after {
            bottom: calc(-1 * var(--space-xl));
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            line-height: 200%;
            padding: 0 var(--space-sm);
            font-size: var(--size-xs);
            letter-spacing: 0.1em;
            transition-duration: 0.3s;

            @include mq-up(xs) {
                min-width: 250px;
            }

            &:hover {
                color: var(--text-accent);
            }
        }
    }

    //Page Specific
    body#Profile > &,
    body#ST > &,
    body#UserCP > &,
    body#Msg > & {
        display: none;
    }
    &.profile--header {
        min-height: 0;
        margin-top: var(--space-md);

        @include mq-up(xs) {
            margin-top: var(--space-lg);
        }

        .header--info {
            border-bottom: 1px solid var(--border-accent-transparent);
            padding: 0 var(--space-lg) var(--space-lg);

            &::before {
                content: '';
                position: absolute;
                left: calc(50% - 0.5px);
                bottom: 0;
                display: block;
                width: 1px;
                height: var(--space-xl);
                background: var(--border-accent-transparent);
    
                @include mq-down(md) {
                    display: none;
                }
            }
        }
        .header--right {
            grid-template-columns: 125px auto;
            gap: var(--space-lg);

            @include mq-down(md) {
                max-width: 400px;
                margin: 0 auto;
            }

            & > img {
                width: 125px;
                height: 125px;
                border-radius: 2px;
                filter: var(--default-filter) grayscale(0.8);
                transition-duration: 0.3s;

                &:hover {
                    filter: var(--default-filter) grayscale(0.5);
                }
            }
        }
    }
    body > #popout &.profile--header {
        margin: var(--space-lg) 0 0;
        min-height: 0;

        .header--info {
            grid-template-columns: 1fr;

            &::before {
                display: none;
            }
        }
        .header--right {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}