@import '../global/mixins.scss';

/*******************************
    Store
********************************/

//General
#store {
    main {
        & > table:first-of-type {
            display: block;

            & ~ * {
                display: none;
            }

            & > tbody {
                display: block;

                & > tr {
                    display: flex;
                    flex-direction: column;
                    
                    & > td {
                        &#ucpmenu {
                            margin: var(--space-md) auto var(--space-xl);
                            background: var(--bg-transparent);
                            padding: var(--space-sm);
                            border: 1px solid var(--border-primary);
                            border-radius: 2px;
                            display: block;
                            position: sticky;
                            top: calc(var(--size-menu) + var(--space-sm));
                            z-index: 3;
                            width: 100%;

                            .accordion {
                                display: none;
                                position: absolute;
                                top: calc(100% + var(--space-sm));
                                left: var(--space-sm);
                                max-width: calc(100% - (2 * var(--space-lg)));
                                background: var(--bg-transparent);
                                padding: var(--space-sm);
                                border: 1px solid var(--border-primary);
                                border-radius: 2px;
                                min-width: 200px;

                                &--content {
                                    display: flex;
                                    flex-direction: column;
                                    gap: var(--space-xs);

                                    &:not(:last-child) {
                                        padding: var(--space-xs) 0 var(--space-md);
                                    }

                                    a {
                                        display: flex;
                                        border: 1px solid var(--border-primary);
                                        align-items: center;
                                        text-align: center;
                                        justify-content: center;
                                        padding: 0 var(--space-md);
                                        font-weight: 700;
                                        letter-spacing: 0.2em;
                                        transition-duration: 0.3s;
                                        border-radius: 2px;
                                        text-transform: uppercase;
                                        font-size: var(--size-xs);

                                        &:hover {
                                            background: var(--bg-accent-transparent);
                                        }
                                    }
                                }
                            }

                            &:not(.is-open) {
                                .macro--button {
                                    .fa-xmark {
                                        display: none;
                                    }
                                }
                            }

                            &.is-open {
                                .accordion {
                                    display: block;
                                }

                                .macro--button {
                                    .fa-bars {
                                        display: none;
                                    }
                                }
                            }

                            .menu-section {
                                display: flex;
                                flex-direction: column;
                                gap: var(--space-sm);
                            }
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &#ucpcontent {
                            flex-grow: 1;
                            padding: var(--space-md);

                            @include mq-up(xs) {
                                padding: var(--space-lg);
                            }

                            input[type="text"],
                            input[type="file"],
                            input[type="password"],
                            textarea,
                            select {
                                width: 100%;
                            }

                            .maintitle {
                                display: none;
                            }
                    
                            form {
                                & > table {
                                    display: block;
                        
                                    & > tbody {
                                        display: block;
                        
                                        & > tr {
                                            display: flex;
                                            flex-direction: column;
                                            gap: var(--space-sm);
                                            margin-bottom: var(--space-md);
                    
                                            @include mq-up(xxs) {
                                                margin-bottom: var(--space-lg);
                                            }
                    
                                            @include mq-up(sm) {
                                                gap: var(--space-md);
                                            }
                        
                                            .pformleft {
                                                b,
                                                strong,
                                                label {
                                                    line-height: 160%;
                                                    display: block;
                                                    max-width: max-content;
                                                    padding: var(--space-xs) var(--space-sm);
                    
                                                    & ~ br {
                                                        display: none;
                                                    }
                                                }
                                            }
                                            .pformright {
                                                display: flex;
                                                gap: var(--space-xs);
                                                height: max-content;
                                            }
                    
                                            & > :only-child {
                                                grid-column: 1 / -1;
                                            }
                        
                                            &:last-child {
                                                .pformstrip:only-child {
                                                    margin-bottom: 0;
                                                    padding: 0;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Store Home
#store.store-home {
    #ucpcontent {
        & > table {
            & > tbody {
                max-width: 800px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: var(--space-xl);

                & > tr {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    
                    &:not(:nth-child(4)) {
                        margin-top: var(--space-lg);
                    }

                    td {
                        text-align: left;
                        padding: 0;

                        &:first-child {
                            border-top: 1px solid var(--border-accent-transparent);
                            text-align: center;
                            padding: var(--space-lg);
                            font-family: var(--font-serif);
                            font-weight: 700;
                            color: var(--text-secondary);
                            font-size: 24px;
                            margin-top: var(--space-xl);
                            margin-bottom: 0;

                            &::before {
                                content: '';
                                position: absolute;
                                top: calc(-1 * var(--space-xl));
                                left: calc(50% - 0.5px);
                                width: 1px;
                                height: var(--space-xl);
                                background: var(--border-accent-transparent);
                            }

                            a {
                                margin: 0 auto;
                            }
                        }
                        &:last-child {
                            background: var(--bg-transparent-alt);
                            border-top: 1px solid var(--border-accent-transparent);
                            border-bottom: 1px solid var(--border-accent-transparent);
                            padding: var(--space-md);
                            font-size: calc(var(--size-md) + 1px);
                            text-align: justify;
                            line-height: 200%;
                            width: 100%;
                        }

                        a {
                            display: block;
                            line-height: 160%;
                            max-width: max-content;
                            margin-bottom: var(--space-sm);

                            & + br {
                                display: none;
                            }
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }
}
//Store Shop
#store.store-shop {
    #ucpcontent {
        & > table {
            display: block;

            & > tbody {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: var(--space-md);

                @include mq-up(sm) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mq-up(md) {
                    grid-template-columns: repeat(3, 1fr);
                }

                & > tr {
                    display: flex;
                    flex-wrap: wrap;

                    &:has(td:only-child) {
                        grid-column: 1 / -1;

                        td {
                            grid-column: 1 / -1;
                            padding-top: 0 !important;
                            text-align: center;
                            align-self: center;
                            justify-self: center;
                        }
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                        object-position: center;
                    }
                    &:first-child {
                        display: none;
                    }
                    &:last-child {
                        grid-column: 1 / -1;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: var(--bg-transparent);
                        border: 1px solid var(--border-primary);
                        padding: var(--space-sm);
                        border-radius: 2px;
                        font-size: var(--size-xs);
                        letter-spacing: 0.1em;
                        color: var(--text-secondary);
                        text-transform: uppercase;
    
                        a {
                            font-size: var(--size-md);
                            display: block;
                            padding: var(--space-xs) var(--space-md);
                            text-align: center;
                            border-radius: 2px;
                            background: var(--bg-accent-transparent);
                            color: var(--text-secondary);
                            text-transform: uppercase;
                            font-weight: 900;
                            letter-spacing: 0.1em;
                            border-color: transparent;
                            transition-duration: 0.3s;
                            border: 1px solid var(--border-primary);

                            &:hover {
                                background: transparent;
                                border-color: var(--border-accent-transparent);
                            }
                        }

                        & > td {
                            display: block;
                            text-align: left;

                            &:nth-child(2) {
                                text-align: center;
                            }

                            &:last-child {
                                text-align: right;
                            }
                        }
                    }
                    &:not(:first-child):not(:last-child) {
                        padding: var(--space-md);
                        display: grid;
                        grid-template-columns: 24px 1fr 1fr 24px;
                        grid-template-rows: max-content auto max-content max-content;
                        gap: 0 var(--space-md);
                        background: var(--bg-transparent-alt);
                        border-top: 1px solid var(--border-accent-transparent);
                        border-bottom: 1px solid var(--border-accent-transparent);

                        & > td {
                            padding: 0;
                            text-align: left;

                            &:first-child {
                                height: 24px;
                                align-self: center;
                            }
    
                            &:nth-child(2) {
                                font-size: 20px;
                                font-family: var(--font-serif);
                                color: var(--text-secondary);
                                font-weight: 700;
                                grid-column: span 3;
                                line-height: 160%;
                                max-width: max-content;
                                padding: var(--space-xs) 0;
                            }
    
                            &:nth-child(3) {
                                grid-column: 1 / -1;
                                text-align: justify;
                                font-style: italic;
                                font-size: var(--size-md);
                                line-height: 160%;
                                padding-bottom: var(--space-md);
                            }
    
                            &:nth-child(4),
                            &:nth-child(5) {
                                grid-column: span 2;
                                font-size: var(--size-xs);
                                letter-spacing: 0.1em;
                                color: var(--text-secondary);
                                text-transform: uppercase;
                            }
    
                            &:nth-child(4) {
                                &::before {
                                    content: '$';
                                }
                            }
    
                            &:nth-child(5) {
                                text-align: right;

                                &::after {
                                    content: ' In Stock';
                                }
                            }
    
                            &:nth-child(6):last-child {
                                grid-column: 1 / -1;
                                padding: var(--space-md) 0 0;
    
                                a {
                                    font-size: var(--size-md);
                                    display: block;
                                    padding: var(--space-xs) var(--space-md);
                                    text-align: center;
                                    border-radius: 2px;
                                    background: var(--bg-accent-transparent);
                                    color: var(--text-secondary);
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    letter-spacing: 0.1em;
                                    border-color: transparent;
                                    transition-duration: 0.3s;
                                    border: 1px solid var(--border-primary);

                                    &:hover {
                                        background: transparent;
                                        border-color: var(--border-accent-transparent);
                                    }
                                }
                            }
    
                            &:nth-child(6):not(:last-child),
                            &:nth-child(7):last-child {
                                grid-column: span 2;
                                padding: var(--space-md) 0 0;
                                font-size: 0;
    
                                a {
                                    font-size: var(--size-md);
                                    display: block;
                                    padding: var(--space-xs) var(--space-md);
                                    text-align: center;
                                    border-radius: 2px;
                                    background: var(--bg-accent-transparent);
                                    color: var(--text-secondary);
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    letter-spacing: 0.1em;
                                    border-color: transparent;
                                    transition-duration: 0.3s;
                                    border: 1px solid var(--border-primary);

                                    &:hover {
                                        background: transparent;
                                        border-color: var(--border-accent-transparent);
                                    }
                                }
                            }
    
                            &:nth-child(7):last-child {
                                a {
                                    &::before {
                                        content: 'Buy ';
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Store Inventory
#store.store-inventory {
    #ucpcontent {
        & > table {
            display: block;

            & > tbody {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: var(--space-md);

                @include mq-up(sm) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mq-up(md) {
                    grid-template-columns: repeat(3, 1fr);
                }

                & > tr {
                    display: flex;
                    flex-wrap: wrap;

                    @include mq-up(sm) {
                        flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                    }

                    @include mq-up(md) {
                        flex: 0 0 calc((100% / 3) - calc(var(--space-md) * 2 / 3));
                    }

                    &:has(td:only-child) {
                        grid-column: 1 / -1;

                        td {
                            grid-column: 1 / -1;
                            padding-top: 0 !important;
                            text-align: center;
                            align-self: center;
                            justify-self: center;
                        }
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                        object-position: center;
                    }
                    &:first-child {
                        grid-column: 1 / -1;
                        display: flex;
                        flex-direction: column;
                        border-top: 1px solid var(--border-accent-transparent);
                        border-bottom: 1px solid var(--border-accent-transparent);
                        text-align: center;
                        padding: var(--space-lg);
                        font-family: var(--font-serif);
                        font-weight: 700;
                        color: var(--text-secondary);
                        font-size: 24px;
                        margin-top: var(--space-xl);
                        margin-bottom: 0;
                        align-items: center;

                        &::before {
                            content: '';
                            position: absolute;
                            top: calc(-1 * var(--space-xl));
                            left: calc(50% - 0.5px);
                            width: 1px;
                            height: var(--space-xl);
                            background: var(--border-accent-transparent);
                        }

                        & > td {
                            width: 100%;
                            padding: 0;

                            &:first-child {
                                font-size: 0.7em;
                            }
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(2) {
                        display: none;
                    }
                    &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
                        padding: var(--space-md);
                        display: grid;
                        grid-template-columns: 24px 1fr 1fr 24px;
                        grid-template-rows: max-content max-content auto max-content max-content;
                        gap: 0 var(--space-md);
                        background: var(--bg-transparent-alt);
                        border-top: 1px solid var(--border-accent-transparent);
                        border-bottom: 1px solid var(--border-accent-transparent);

                        td {
                            padding: 0;
                            width: 100%;

                            &:first-child {
                                order: 1;
                            }
    
                            &:nth-child(2) {
                                order: 2;
                                font-size: 20px;
                                font-family: var(--font-serif);
                                color: var(--text-secondary);
                                font-weight: 700;
                                grid-column: span 3;
                                line-height: 160%;
                                max-width: max-content;
                                padding: var(--space-xs) 0;
                            }

                            &:not(:first-child):not(:nth-child(2)) {
                                grid-column: 1 / -1;
                            }
    
                            &:nth-child(3) {
                                text-align: justify;
                                order: 4;
                                padding: var(--space-sm) 0 0;
                                text-align: justify;
                                font-style: italic;
                                font-size: var(--size-md);
                                line-height: 160%;
                                padding-bottom: var(--space-md);
                                text-transform: none;
                            }
    
                            &:nth-child(4) {
                                flex: 0 0 100%;
                                order: 3;
                                text-align: left;
                                margin-bottom: calc(-1 * var(--space-xs));
                                font-size: var(--size-xs);
                                letter-spacing: 0.1em;
                                color: var(--text-secondary);
                                text-transform: uppercase;
    
                                &::after {
                                    content: ' Owned';
                                }
                            }
    
                            &:last-child {
                                display: flex;
                                align-items: end;
                                flex: 0 0 100%;
                                order: 5;
                                padding: var(--space-md) 0 0;
    
                                a {
                                    font-size: var(--size-md);
                                    display: block;
                                    padding: var(--space-xs) var(--space-md);
                                    text-align: center;
                                    border-radius: 2px;
                                    background: var(--bg-accent-transparent);
                                    color: var(--text-secondary);
                                    text-transform: uppercase;
                                    font-weight: 900;
                                    letter-spacing: 0.1em;
                                    border-color: transparent;
                                    transition-duration: 0.3s;
                                    border: 1px solid var(--border-primary);
                                    margin-left: auto;

                                    &:hover {
                                        background: transparent;
                                        border-color: var(--border-accent-transparent);
                                    }
                                }
    
                                br {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Store Forms
#store.store-donate_money,
#store.store-donate_item,
#store.store-useitem,
#store.store-fine,
#store.store-edit_points,
#store.store-do_edit_points,
#store.store-edit_inventory {
    #ucpcontent {
        & > table {
            & > tbody {
                & > tr {
                    &:not(:last-child) {
                        display: grid;
                        border-top: 1px solid var(--border-accent-transparent);
                        border-bottom: 1px solid var(--border-accent-transparent);
                        background: var(--bg-transparent-alt);
                        margin-bottom: var(--space-sm);
                        padding: var(--space-md);
    
                        & > td {
                            width: 100%;
                        }
                        .pformleft:first-child {
                            b,
                            strong,
                            label {
                                font-size: var(--size-sm);
                                font-weight: 800;
                                letter-spacing: 0.2em;
                                display: flex;
                                align-items: center;
                                gap: var(--space-md);
                                color: var(--text-secondary);
                                text-transform: uppercase;

                                &::before {
                                    content: "";
                                    display: block;
                                    width: 25px;
                                    height: 1px;
                                    background: var(--bg-accent);
                                }
    
                                & ~ br {
                                    display: none;
                                }
                            }
                        }
                        .pformleft + .pformleft {
                            display: flex;
                            height: max-content;
                        }
                    }
                }
            }
        }
    }
}
//Store Edit Inventory Item List
#store.store-do_staff_inventory {
    #ucpcontent {
        & > table {
            display: block;

            & > tbody {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: var(--space-md);

                @include mq-up(sm) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mq-up(md) {
                    grid-template-columns: repeat(3, 1fr);
                }

                & > tr {
                    display: flex;
                    flex-wrap: wrap;

                    &:not(:last-child) {
                        padding: var(--space-md);
                        display: grid;
                        grid-template-columns: 24px 1fr;
                        grid-template-rows: repeat(auto-fit, minmax(0, max-content));
                        gap: 0 var(--space-md);
                        background: var(--bg-transparent-alt);
                        border-top: 1px solid var(--border-accent-transparent);
                        border-bottom: 1px solid var(--border-accent-transparent);

                        td {
                            text-align: left;
                            padding: 0 0 var(--space-lg) 0;
                             
                            &:first-child {
                                width: 24px;
                                height: 24px;
                            }

                            &:nth-child(2) {
                                width: 100%;
                                font-size: 20px;
                                font-family: var(--font-serif);
                                color: var(--text-secondary);
                                font-weight: 700;
                            }

                            &:nth-child(3) {
                                grid-column: 1 / -1;
                                padding: 0;
                                text-align: justify;
                                font-style: italic;
                                font-size: var(--size-md);
                                line-height: 160%;
                            }
    
                            &:nth-child(4) {
                                display: none;
                            }
    
                            &:nth-child(5) {
                                position: absolute;
                                bottom: var(--space-sm);
                                right: var(--space-sm);
                                padding: 0;
                                text-align: right;

                                input {
                                    height: auto;
                                    width: auto;
                                    padding: 0;
                                }

                                .input-wrap {
                                    &::after {
                                        content: 'Delete';
                                    }
                                }
                            }
                        }
                    }

                    &:last-child {
                        grid-column: 1 / -1;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                        object-position: center;
                    }
                    &:first-child,
                    &:nth-last-child(2):not(:nth-child(2)) {
                        display: none;
                    }
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }
}