@import '../global/mixins.scss';

/*******************************
    Webpages
********************************/
.webpage {
    max-width: 800px;
    margin: 0 auto;
    
    &--menu {
        display: flex;
        align-items: center;
        gap: var(--space-sm);
        margin: 0 auto var(--space-lg);
        background: var(--bg-transparent);
        padding: var(--space-sm);
        border: 1px solid var(--border-primary);
        border-radius: 2px;
        position: sticky;
        top: calc(var(--size-menu) + var(--space-sm));
        z-index: 3;
        width: 100%;

        .accordion {
            display: none;
            position: absolute;
            top: calc(100% + var(--space-sm));
            left: var(--space-sm);
            max-width: calc(100% - (2 * var(--space-lg)));
            background: var(--bg-transparent);
            padding: var(--space-sm);
            border: 1px solid var(--border-primary);
            border-radius: 2px;
            width: 250px;
            max-height: calc(100vh - (2 * var(--size-menu)) - (2 * var(--space-lg)) - var(--size-diff) - 30px);
            height: 100vh;

            &--trigger {
                margin-bottom: var(--space-md);
            }

            &--content {
                display: flex;
                flex-direction: column;
                gap: var(--space-xs);

                &:not(:last-child) {
                    padding: var(--space-xs) 0 var(--space-md);
                }

                a {
                    display: flex;
                    border: 1px solid var(--border-primary);
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    padding: 0 var(--space-md);
                    font-weight: 700;
                    letter-spacing: 0.2em;
                    transition-duration: 0.3s;
                    border-radius: 2px;
                    text-transform: uppercase;
                    font-size: var(--size-xs);

                    &:hover {
                        background: var(--bg-accent-transparent);
                    }
                }
            }
        }

        &:not(.is-open) {
            .macro--button {
                .fa-xmark {
                    display: none;
                }
            }
        }

        &.is-open {
            .accordion {
                display: block;
            }

            .macro--button {
                .fa-bars {
                    display: none;
                }
            }
        }
    }

    .tab-heading {
        border-top: 1px solid var(--border-accent-transparent);
        border-bottom: 1px solid var(--border-accent-transparent);
        padding: var(--space-lg) var(--space-md);
        color: var(--text-secondary);
        font-family: var(--font-serif);
        text-align: center;
        margin: var(--space-xl) auto 0;
        @include fluid-type(30, 60, 480, 1440);
        line-height: 110%;

        &::before {
            content: '';
            position: absolute;
            top: calc(-1 * var(--space-xl));
            left: calc(50% - 0.5px);
            display: block;
            width: 1px;
            height: var(--space-xl);
            background: var(--border-accent-transparent);
        }
    }

    &--content-inner {
        border-bottom: 1px solid var(--border-accent-transparent);
        background: var(--bg-transparent-alt);
        padding: var(--space-xl) var(--space-lg);
        font-size: var(--size-lg);
        line-height: 200%;
        text-align: justify;
    }

    &--warning {
        z-index: 1;

        button {
            font-size: 24px;
            background: var(--bg-accent-transparent);
            width: 50px;
            height: 50px;
            border-radius: 2px;
            border: 1px solid var(--border-accent);

            i {
                color: var(--text-secondary);
            }
        }

        &-text {
            position: absolute;
            left: var(--space-sm);
            top: calc(50px + var(--space-sm));
            border: 1px solid var(--border-accent);
            background: var(--bg-quaternary);
            padding: var(--space-lg);
            width: calc(100vw - var(--size-menu) - (2 * var(--space-lg)) - (2 * var(--space-md)) - (2 * var(--space-sm)));
            max-width: 680px;
            border-radius: 2px;
            display: none;
    
            &.is-open {
                display: block;
            }

            @include mq-up(xs) {
                top: 0;
                left: calc(50px + var(--space-sm));
                width: calc(100vw - 50px - var(--space-sm) - (2 * var(--size-menu)) - (2 * var(--space-lg)));
            }
        }
    }

    form {
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6,
        h7,
        .h7,
        h8,
        .h8 {
            margin-bottom: 0 !important;
        }

        label,
        .field-wrap {
            display: flex;
            flex-direction: column;

            & > b {
                font-size: var(--size-sm);
                font-weight: 800;
                letter-spacing: 0.4em;
                display: flex;
                align-items: center;
                gap: var(--space-md);
                color: var(--text-secondary);
                text-transform: uppercase;

                &::before {
                    content: "";
                    display: block;
                    width: 25px;
                    height: 1px;
                    background: var(--bg-accent);
                }
            }

            & > u {
                text-transform: uppercase;
                font-size: var(--size-xs);
                letter-spacing: 0.2em;
                font-weight: 800;
            }

            input,
            select,
            textarea {
                width: 100%;
            }
            textarea {
                height: 125px;
                padding: var(--space-md);
            }
        }

        button[type="submit"],
        button[type="button"] {
            background: var(--bg-accent-transparent);
            color: var(--text-secondary);
            border: 1px solid transparent;
            padding: var(--space-md) var(--space-lg);
            height: auto;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 0.1em;
            font-size: var(--size-md);
            line-height: 160%;
            width: max-content;
            margin: 0 auto -15px;
            border-radius: 2px;
            cursor: pointer;
            transition-duration: 0.3s;

            &:hover,
            &:focus {
                background: transparent;
                border-color: var(--border-accent-transparent);
            }
            &:disabled {
                filter: grayscale(1);
                opacity: 0.75;
                background: transparent;
                border: 1px solid var(--border-accent-transparent);
            }
        }
        .job-row,
        .row {
            padding: var(--space-md) 0;
            border-top: 1px solid var(--border-primary);
            margin-top: var(--space-sm);

            &:last-child {
                padding-bottom: var(--space-md);
            }
        }
        .form-multiselect,
        .field-wrap {
            .input-wrap {
                flex-direction: row;
                align-items: center;
                text-transform: uppercase;
                font-size: var(--space-sm);
                letter-spacing: 0.1em;
                gap: var(--space-sm);

                input:checked ~ strong {
                    color: var(--text-secondary);
                }
            }
        }

        .section-wrap {
            & > .adjustable {
                padding-bottom: var(--space-md);
                border-bottom: 1px solid var(--border-primary);
                margin-bottom: var(--space-md);

                .multi-buttons {
                    height: calc(52px + var(--size-diff));
                }
            }
        }

        input[type="range"] {
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 100%;
            border: none;
            height: 6px;
            padding: 0;
            background: var(--bg-quaternary);
            margin: 10px 0;
            color: var(--bg-accent-transparent);
            border-radius: 2px;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background: var(--bg-accent);
                width: 8px;
                height: 18px;
                border: 1px solid var(--bg-accent);
                border-radius: 2px;
            }

            &::-moz-range-thumb {
                border: none;
                background: var(--bg-accent);
                width: 5px;
                height: 15px;
                border-radius: 2px;
                border: 1px solid var(--bg-accent);
            }

            &::-moz-range-progress {
                background: var(--bg-accent-transparent);
                height: 100%;
                border-radius: 2px;
            }
        }

        &#form-species-add [data-type="grid"][data-gap="xs"] {
            align-items: start;
        }
    }
}